html, body { margin: 0; padding: 0; margin-left: 30px; }

iframe {
	width: 750px;
	height: 500px;
}

.hover:hoverl {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}